{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for list in todo_lists %}
                    <tr>
                        <td>
                            <a href="{% url "todo_list_detail" list.id %}">{{ list.name }}</a>
                        </td>
                        <td>{{ list.items.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
